@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");

:root {
  /* Colors */
  --clr-dark: 230, 35%, 7%;
  --clr-white: 0, 0%, 100%;
  --clr-accent: 231, 77%, 90%;
}

/* -----------------------
---------RESETS-----------
------------------------- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------------------------------------------------- */

body {
  animation: scroll 300s linear infinite;
  /* Photo by <a href="https://unsplash.com/@molior?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Farouk Mechedal</a> on <a href="https://unsplash.com/s/photos/texture?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
  background: url(../src/components/images/abstractbg4.WebP), #111111;
  color: #eee;
  min-width: 300px;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0.7em;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  margin-block: 0.1em;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(44, 44, 44);
  border-radius: 100vh;
  border: 0.06em solid #000;
}

@keyframes scroll {
  100% {
    background-position: 500px -10000px;
  }
}

@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 500s linear infinite;
  }
}

body {
  background-color: hsl(var(--clr-dark));
  color: hsl(var(--clr-white));
  font-family: "Orbitron", sans-serif;
  letter-spacing: 0.09rem;
}

.logo-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  font-size: 2rem;
  text-transform: uppercase;
}

.f-name {
  margin-right: 4em;
}

.l-name {
  color: hsl(var(--clr-dark));
  border-radius: 3px;
  height: 1.18em;
  margin-top: -1rem;
}

.l-name::after {
  content: "";
  display: block;
  width: 100%;
  height: 1.9rem;
  background-color: hsl(var(--clr-accent));
  margin-inline: auto;
  margin-top: -2.6rem;
  z-index: -10000;
  border-radius: 2px;
}

@media (min-width: 550px) {
  .f-name {
    margin-right: 3.9em;
  }

  .l-name {
    margin-top: -0.6em;
    margin-bottom: 3rem;
  }

  .l-name::after {
    height: 3.5rem;
    margin-top: -1.11em;
  }
}

@media (min-width: 900px) {
  .f-name {
    margin-top: -1em;
    margin-right: 3.9em;
  }

  .l-name::after {
    height: 4.9rem;
    margin-top: -1.14em;
  }
}

.pitch-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -2em;
}

.pitch-text {
  margin-bottom: 2em;
  line-height: 1.6rem;
  padding-inline: 2em;
  letter-spacing: 0.12rem;
}

.pitch-text * {
  margin-bottom: 1rem;
}

@media (min-width: 800px) {
  .pitch-area {
    display: flex;
    flex-direction: column;
    border: none;
  }

  .pitch-text {
    margin-top: 2em;
    line-height: 1.8rem;
  }

  figure {
    width: 50%;
  }
}

.project-section {
  display: flex;
  flex-direction: column;
  margin-top: 4em;
  margin-bottom: -3em;
  text-align: center;
  width: 100vw;
}

.project-section > h2 {
  margin-inline: auto;
  margin-bottom: 2em;
  font-size: 2rem;
  width: fit-content;
  border-bottom: hsl(var(--clr-accent)) solid 2px;
}

.project-description {
  display: none;
}

.project-images {
  display: flex;
  max-width: 70%;
  margin-block: 1em;
  margin-inline: auto;
  border-radius: 5px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

@media (min-width: 550px) {
  .project-description {
    display: flex;
    align-items: center;
    width: 60%;
    margin-right: 6em;
  }

  .project-section {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    width: 80vw;
  }

  .project-section > h2 {
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 2.5rem;
    border-bottom: hsl(var(--clr-accent)) solid 2px;
    width: fit-content;
    margin-inline: auto;
  }

  .project {
    display: flex;
    margin-block: 4em;
  }

  .project-images {
    display: flex;
    max-width: 300px;
  }
}

@media (min-width: 900px) {
  .project-images {
    display: flex;
    max-width: 600px;
  }
}

.contact-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8em;
  padding-top: 1em;
  border-top: hsl(var(--clr-accent)) solid 2px;
}

.contact-info {
  margin-block: 0.4em;
  font-size: 1.2rem;
}

.info-icon {
  margin-right: 0.7em;
}

.github {
  text-decoration: none;
  color: hsl(var(--clr-white));
}

.github:focus,
.github:hover {
  color: darkorange;
  font-weight: 700;
}

@media (min-width: 700px) {
  button {
    display: block;
    color: hsl(var(--clr-white));
    background-color: hsl(var(--clr-dark));
    border: none;
  }

  .pitch-area {
    flex-direction: row;
    height: 100vh;
    justify-content: center;
  }

  .logo-area {
    display: block;
    margin-inline: auto;
    margin-block: 3em;
    padding-bottom: 5em;
    border-bottom: hsl(var(--clr-accent)) solid 2px;
  }

  .pitch-area {
    display: flex;
    flex-direction: row-reverse;
    margin-inline: auto;
    width: 80%;
  }

  .pitch-text {
    width: 80%;
    margin-inline: auto;
    padding: 0;
    font-size: 1.5rem;
  }
}

.attribution {
  display: flex;
  justify-content: flex-end;
  font-size: 0.4rem;
  color: hsl(var(--clr-white));
  text-decoration: none;
  padding: 1em;
}
